# Nvim plugins
nvim/plugged

BraveSoftware/

audacity/

autostart/

awesome/

balena-etcher/

betaflight-configurator/

Blackmagic Design/

blender/

Bootstrap Studio/

bstudio/

cef_user_data/

Code/

create-next-app-nodejs/

dconf/

deluge/

eddie/

easyeffects/

ExpressLRS Configurator/

flowblade/

FreeCAD/

gedit/

GeoGebra/

ghb/

GIMP/

GitKraken/

gtk-2.0/

gtk-3.0/

htop/

icedtea-web/

Jackett/

JetBrains/

kde.org/

kicad/

Kitware/

libreoffice/

Logseq/

lutris/

menus/

MTK/

neofetch/

nextjs-nodejs/

notion-app/

ngrok/

obsidian/

PianoBooster/

picom/

pipewire/

Postman/

PrusaSlicer-alpha/

PrusaSlicer-alpha-bkp/

pulse/

qBittorrent/

QtProject/

Raspberry Pi/

REAPER/

rescrobbled/

rncbc.org/

session/

sigrok/

spek/

spotify/

strawberry/

SunVox/

Thunar/

systemd/

tidal-hifi/

torbrowser/

transmission/

Trolltech/

unity3d/

VirtualBox/

vis/

vlc/

whatscli/

whatsdesk/

wireshark/

xfce4/

Trolltech.conf

.luarc.json

dolphinrc

git

git.pub

kdeglobals

kiorc

kservicemenurc

memos.json

mimeapps.list

pavucontrol.ini

QtProject.conf

*.log

lazygit/state.yml

MongoDB Compass/

btop/

Notion/

com.yuezk.qt/

notion-nativefier-46aee8/

trashrc

partitionmanagerrc

kathara.conf
PrusaSlicer
betaflight-blackbox-explorer
discord
gh
glib-2.0/settings
tidal-cli-client
ytdlp-gui
baloofileinformationrc
zoom.conf
zoomus.conf
lvim
xournalpp
kwalletrc

notion-app-enhanced/

VisualParadigm/

Intel/

rpcs3/

github-copilot/
